<h2>Employee Management</h2>
<a asp-action="EmployeeList" class="btn btn-primary">Employee List</a>
<a asp-action="TitleList" class="btn btn-warning">Title List</a>
<a asp-action="Add" class="btn btn-success">Add Employee</a>
